For viewing Sentinel 2 data
SNAP 7 
QGIS 3.12
Python
image-slicer pip install image-slicer
opencv pip install opencv-python
numpy pip install numpy==1.16.1
exifread pip install exifread
Manually install whl files:
gdal https://www.lfd.uci.edu/~gohlke/pythonlibs/#gdal
rasterio https://www.lfd.uci.edu/~gohlke/pythonlibs/#rasterio


